/* YOUR CUSTOM STYLES */
/*--------------\
|   Content     |
|---------------|
|	Tags 		|
|Global Classes	|
|	Header		|
|	Main		|
|	Footer 		|
|	MQuerie		|
\--------------*/


/*-----Tags-----*/

/*div {
	outline: solid red 1px;
}*/

body {
	background: grey;
}

/*----Global Classes-----*/

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}




/*----Header-----*/

.header {
	background-color: #8d99ae;
}

/*---Desktop---*/
.desktop {
	width: 100%;
	max-width: 1200px;
	height: 100%;
	max-height: 100px;
	font-size: 1rem;
}


.logo {
	display:inline-flex;
	width: 64px;
	height: 64px;
	margin: 1%;
}

.logo img {
	width: 64px;
	height: 64px;
}

.title {
	display: inline-flex;
	margin-left: 35%;
}

.title h1 {
	font-size: 2.5rem;
}

.title span {
	color: red;
}

.login {
	display: flex;
	width: 20%;
	margin-left: 61%;
	margin-top: -5%;
	height: 10%;
}

.formbtn {
	display: flex;
	width: 100%;
}

#nickname {
	text-indent: 5%;
	width: 85%;
}

#password {
	text-indent: 5%;
	width: 85%;
}

.tablet {
	display: none;
}

.mobile {
	display: none;
}


/*-------Main---------*/
.main {
	background-color: #444b6e;
}

.badge {
	background-color: #8d99ae;
	margin-left: 12%;	
}
.desc {
	display: flex;
	width: 95%;
	padding-top: 2%;
}

/*----Footer-----*/

.footer {
	background-color: #ef233c;
	width: 100%;
}

.copyright {
	display: inline-flex;
	width: 50%;
	font-family: 'Trebuchet MS';
}

.smedia {
	display: inline-flex;
	width: 40%
}



/*----------Mobile-------------*/
@media (max-width: 450px) and (orientation: portrait) {
	.container {
		width: 100%;
		max-width: 350px;
	}

/*-------Header--------*/
	.header {
		width: 100%;
	}


	.logo {
		width: 50%;
		height: 25%;
		margin-top: 2%;
		margin-left: 45%;
	}

	.logo img {
		width: 32px;
		height: 32px;
	}

	.title {
		display: none;
		margin-left: 5%;
		margin-bottom: -2%;
	}

	.title h1 {
		font-size: 1.5rem;
	
	}

	.title span {
		text-shadow: 2px 0 5px black;
	}

	.menumob {
		width: 100%;
	}

	.menumob button {
		width: 97%;
		background-color: #d90429;
		color: #edf2f4;
	}


/*--------Main---------*/
	.main {
		background-color: #444b6e;
	}

	.desc {
		display: flex;
		width: 95%;
		padding-top: 2%;
	}


	.previmg {
		width: 90%;
		margin-left: 3%;
	}


/*-----Footer---------*/

	.smedia {
		width: 50%;
	}

	.social {
		width: 24px;
		height: 24px;
	}


/*----HIDE & SHOW-----*/

	.mobile {
		display: flex;
	}

	.desktop {
		display: none;
	}
}