/* 

GLOBAL
Header
Main
Footer

*/






/* Global*/
/*------------------*/

	input[type="time"],
	input[type="search"]{
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: border-color 0.2s ease-in-out;
		-webkit-transition: border-color 0.2s ease-in-out;
		-ms-transition: border-color 0.2s ease-in-out;
		transition: border-color 0.2s ease-in-out;
		background: transparent;
		border-radius: 4px;
		border: solid 1px rgba(255, 255, 255, 0.3);
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="time"]:invalid,
		input[type="search"]:invalid{
			box-shadow: none;
		}

		input[type="time"]:focus,
		input[type="search"]:focus{
			border-color: #e44c65;
		}



/* Header*/
/*------------------*/

.logoimg {
	width: 5px;
	height: 5px;
}


/* Main*/
/*------------------*/

/*		ACCOUNT   	*/

.imgacc {
	width: 100%;
	height: 100%;
}

.noimg {
	width: auto;
	height: auto;
	text-align: center;
}

.imgcaption {
	text-align: center;
}

.accnick {
	text-align: center;
}

.imggamediv {
	text-decoration: none;
}

.imggame {
	width: 100%;
	height: 100%;

}

.horariotitle {
	text-align: center;
}

.horariotable {
	align-self: center;
	overflow-x: auto;
}


/* EDITAR HORARIOS*/
.dcenter {
	text-align: center;
}

.dleft {
	text-align: left;
}

.dright {
	text-align: right;
}

/* SEARCH 		*/

.search {
	position: relative;
}
 .search input {
 	text-indent: 20px;
 }

 .search .fa-search {
 	position: absolute;
 	top: 0.4rem;
 	left: 0.5rem;
 	font-size: 1rem;
 }

/* Footer*/
/*------------------*/

